# dotfiles git
alias dotfiles="git --git-dir=$HOME/.dotfiles/.git --work-tree=$HOME/.dotfiles"

# open notes
alias notes="code ~/notes"

# speed up videos in dir
alias speedup='mkdir output; ls -1 | grep mp4 | xargs -d "\n" -i ffmpeg -i "{}" -filter_complex "[0:v]setpts=0.769230769*PTS[v];[0:a]atempo=1.3[a]" -map "[v]" -map "[a]" "output/{}"'

